body{
    background-color: darkgray;
}

h1{
    text-align: center;
}

#container{
    height:700px;
    width: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#flex{
    display: flex;
    justify-content: center;
    gap: 35px;
}

#modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#row{
    display: flex;
    flex-grow: 1;
}

#column{
    display: flex;
    flex-grow: 1;
}